* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    height: 100%;
  
}

.game-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.background img {
    width: 100%;
    height: 100%;
}

.cups-container {
    width: 100%;
    height: 33vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2%;
    padding-inline: 2%;
}

.cup-container {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: min(100%, 250px);
    height: 33vh;
    cursor: pointer;
    transition: order 0.2s ease;
}

.motion-blur-cup{
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
    opacity: 0;
}
.motion-blur-cup:nth-of-type(even){
    transform: scaleX(115%);
    opacity: 0.3;
}
.motion-blur-cup:nth-of-type(odd){
    transform: scaleX(125%);
    opacity: 0.2;
}

.cup, .motion-blur-cup {
    display: flex;
    justify-content: center;
}


.cup img, .motion-blur-cup img  {
    width: min(100%, 250px);
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.ball {
    position: absolute;
    bottom: 5%;
    max-width: 33%;
    z-index: -1;
}

.ball img {
    max-width: 100%;
    object-fit: fill;
}

.cup-animation {
    animation: cup-animation 1.5s linear forwards;
}

@keyframes cup-animation {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-5%);
    }

    35% {
        transform: translateY(-8%);
    }

    100% {
        transform: translateY(-75%);
    }
}

button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.modal-open {
    position: relative;
    display: block;
    margin-inline: 2vw;
    width: clamp(4rem,8vw,10rem);
}

.modal-open:hover img{
    transition: transform 500ms ease;
    transform: rotate(360deg);
}

.modal-open > div{
    position: relative;

}

.modal-open > div img{
    width: 100%;
}

.modal-open > div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    font-size: max(1.2ch,1vw);
    font-weight: 700;
}

.modal {
    display: none;
    position: relative;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal img{
    left:50%;
    transform: translate(-50%,-10%);
    max-width: min(110vh, 130vw);
    position: absolute;
    z-index: -2;
}

.modal-active{
    animation: opacity 0.33s ease-in-out forwards;
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.modal-content { 
    max-width: min(45vh, 60vw);
    max-height: min(22vh, 22vw);
    text-align: center;
    transform: translateY(33%);
    font-size: min(min(1.25rem,2.5vw), 2.3vh);
    font-weight: 750;
    color:#fff;
    overflow-y: scroll;
    overscroll-behavior: contain;
}
.modal-content::-webkit-scrollbar{
    display: none;
}

.modal-content p{
}

.modal .close{
    display: flex;
    position: absolute;
    top:0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: hsl(0, 100%, 60%);
    cursor: pointer;
}

.modal .close:hover{
    transition: background-color 200ms ease;
    background-color: hsl(0, 100%, 50%);
}

.result-div{
    position: absolute;
    top: 50%;
    left: 50%;     
    transform: translate(-50%,-50%);

}

#result-img{
    animation: opacity 0.5s ease-in-out forwards;

}
