* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    height: 100%;
    overflow-y: hidden;
}

.game-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background img {
    width: 100%;
    height: 100%;
}

.cups-container {
    width: 100%;
    height: clamp(5rem, 33vh, 50rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16%;
    padding-inline: 2%;
    
}

.cup-container {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: min(100%, 250px);
    cursor: pointer;
    transition: order 0.2s ease;
}

.motion-blur-cup{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
}
.motion-blur-cup:nth-of-type(even){
    transform: scaleX(115%);
    opacity: 0.3;
}
.motion-blur-cup:nth-of-type(odd){
    transform: scaleX(125%);
    opacity: 0.2;
}

.cup {
    transition: order 0.2s ease;
    display: flex;
    justify-content: center;
}


.cup img {
    max-width: 100%;
    object-fit: fill;
}

.ball {
    position: absolute;
    bottom: 5%;
    max-width: 33%;
    z-index: -1;
}

.ball img {
    max-width: 100%;
    object-fit: fill;
}

.cup-animation {
    animation: cup-animation 1.5s linear forwards;
}

@keyframes cup-animation {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-5%);
    }

    35% {
        transform: translateY(-8%);
    }

    100% {
        transform: translateY(-75%);
    }
}

button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.modal-open {
    position: absolute;
    bottom: 8%;
    right: 2%;
    width: max(6vw,100px);
    height: clamp(3rem, 6vh, 5rem);
}

.modal-open:hover img{
    transition: transform 500ms ease;
    transform: rotate(360deg);
}

.modal-open > div{
    position: relative;

}

.modal-open > div img{
    width: 100%;
}

.modal-open > div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    font-size: 1rem;
    font-weight: 700;
}

.modal {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.modal-active{
    animation: opacity 0.33s ease-in-out forwards;
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.modal-content {
    background-color: #ff6666;
    margin: 20% auto;
    border: 1px solid #000;
    width: 80%;
}

.modal-content p{
    padding: 20px;
}

.modal-content .close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: hsl(0, 100%, 60%);
    cursor: pointer;
}

.modal-content .close:hover{
    transition: background-color 200ms ease;
    background-color: hsl(0, 100%, 50%);
}

.result-div{
    position: absolute;
    top: 50%;
    left: 50%;     
    transform: translate(-50%,-50%);

}

#result-img{
    animation: opacity 0.5s ease-in-out forwards;

}